@charset "utf-8";

/**
 * @date 2013-07-04
 * @author Koo Chi Hoon(SK MNS)
 */

* { margin: 0px; padding: 0px; }
body { min-width: 1000px; font-family: Helvetica, sans-serif; font-size: 12px; color: #3e3e3e; }
li, dd { list-style: none; }
section, footer, address, main, header { display: block; }

/* header */
header.wrap-header {
	padding: 10px 20px;
	border-bottom: 1px solid #e5e5e5;
}
header.wrap-header h1 {
	letter-spacing: -1px;
	font-size: 24px;
}
header.wrap-header p {
	margin-top: 10px;
	line-height: 135%;
}
header.wrap-header p.nth-2 img {
    width: 25px;
	margin-top: 5px;
	margin-right: 3px;
}
header.wrap-header a {
	position: absolute;
	top: 20px;
}
header.wrap-header a img {
	border: 0px;
}
header.wrap-header a.to-en {
	right: 40px;
}
header.wrap-header a.to-kr {
	right: 20px;
}

/* footer */
footer.wrap-footer {
	clear: both;
	padding: 10px 20px;
	border-top: 1px solid #e5e5e5;
	font-size: 12px;;
}
footer.wrap-footer address {
	font-style: normal;
}
footer.wrap-footer address a {
	font-style: italic;
}

.wrap {
	float: left;
	width: 46%;
	margin: 0px 2%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.wrap > header h1 {
	padding-bottom: 3px;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
	letter-spacing: -1px;
	font-size: 14px;
	color: #BFBFBF;
}
.wrap > section > header h1 {
	text-align: left;
	letter-spacing: -1px;
	font-size: 14px;
	color: #8C8C8C;
}
.wrap > section > header h2 {
	position: absolute;
	top: 23px; right: 0%;
	font-weight: normal;
	font-size: 12px;
	color: #666666;
}
.wrap > section {
	position: relative;
	padding-top: 20px;
	margin-bottom: 20px;
	border-top: 1px dashed #e5e5e5;
}
.wrap > header + section {
	border-top: 0px;
}

.ex {
	text-align: center;
}
.use {
}

/* Vertical */
.scrollbar-1 {
	width: 100%; /* You must have a attribute! */
	height: 250px; /* You must have a attribute! */
	margin-top: 20px;
}
.scrollbar-1-viewport {
	width: 100%; /* You must have a attribute! */
	height: 248px; /* You must have a attribute! */
	border: 1px solid #e5e5e5;
}
.scrollbar-1-contents {
	overflow: hidden;
	padding: 15px;
	margin-right: 30px; /* You must have a attribute! */
	text-align: left;
}
.scrollbar-1-contents h3 {
	position: static;
	font-size: 16px;
	font-weight: bold;
}
.scrollbar-1-contents p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.scrollbar-1-scrollbar {
	top: 1px; /* You must have a attribute! */
	right: -1px; /* You must have a attribute! */
	width: 15px; /* You must have a attribute! */
}
.scrollbar-1-track {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #e5e5e5;
}
.scrollbar-1-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #ccc;
	cursor: pointer;
}
.scrollbar-1-first-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #b3b3b3;
}
.scrollbar-1-end-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #b3b3b3;
}

/* Horizontal */
.scrollbar-2 {
	width: 100%; /* You must have a attribute! */
	height: 250px; /* You must have a attribute! */
	margin-top: 20px;
}
.scrollbar-2-viewport {
	width: 100%; /* You must have a attribute! */
	height: 248px; /* You must have a attribute! */
	border: 1px solid #e5e5e5;
}
.scrollbar-2-contents {
	overflow: hidden;
	width: 2000%;
	padding: 15px;
	padding-bottom: 30px; /* You must have a attribute! */
	text-align: left;
}
.scrollbar-2-contents h3 {
	position: static;
	margin-top: 5px;
	font-size: 16px;
	font-weight: bold;
}
.scrollbar-2-contents p {
	display: inline-block; *display: inline; *zoom: 1;
	margin-top: 5px;
}
.scrollbar-2-scrollbar {
	bottom: -1px; /* You must have a attribute! */
	left: 1px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
}
.scrollbar-2-track {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #e5e5e5;
}
.scrollbar-2-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #ccc;
	cursor: pointer;
}
.scrollbar-2-first-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #b3b3b3;
}
.scrollbar-2-end-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #b3b3b3;
}

/* Vertical */
.scrollbar-3 {
	width: 100%; /* You must have a attribute! */
	height: 250px; /* You must have a attribute! */
	margin-top: 20px;
}
.scrollbar-3-viewport {
	width: 100%; /* You must have a attribute! */
	height: 248px; /* You must have a attribute! */
	border: 1px solid #e5e5e5;
}
.scrollbar-3-contents {
	overflow: hidden;
	padding: 15px;
	margin-right: 30px; /* You must have a attribute! */
	text-align: left;
}
.scrollbar-3-contents h3 {
	position: static;
	font-size: 16px;
	font-weight: bold;
}
.scrollbar-3-contents p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.scrollbar-3-scrollbar {
	top: 1px; /* You must have a attribute! */
	right: -1px; /* You must have a attribute! */
	width: 15px; /* You must have a attribute! */
}
.scrollbar-3-track {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #e5e5e5;
}
.scrollbar-3-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #ccc;
	cursor: pointer;
}
.scrollbar-3-first-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #b3b3b3;
}
.scrollbar-3-end-thumb {
	width: 15px; /* You must have a attribute! */
	height: 15px; /* You must have a attribute! */
	background: #b3b3b3;
}

.use table {
	width: 100%;
	margin-top: 5px;
	table-layout: fixed;
	border-collapse: collapse;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	word-break: break-all;
	font-size: 12px;
}
.use table th,
.use table td {
	padding: 10px 0;
	padding-left: 10px;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	text-align: left;
}
.use table th {
	background: #f7f7f7;
}
.use table td {
	background: #fff;
}
.use table em.required {
	color: #d61d1d;
}
.use table span.type {
	color: #9a9a9a;
}